{{ define "header" }}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/simpledotcss@2.3.4/simple.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>makeworld personal search</title>
  </head>
  <body>
    <main>
{{ end }}
