{{ template "header" }}
<form action="/search" method="get">
  <input type=text name=q id=q required value="{{.Query}}"/>
  <input type=submit value=Search />
</form>
{{ range .Results }}
<p><a href="{{.URL}}">{{.Title}}</a> ({{.Host}})</p>
{{ end }}
{{ template "footer" }}
